.container {
    display: grid;
    grid-auto-rows: minmax(10rem, auto);
    grid-template-areas: 
    "head head head head head"
    "sidlef sidlef nav nav nav"
    "sidlef sidlef cont cont cont"
    "sidlef sidlef cont cont cont"
    "sidlef sidlef cont cont cont"
    "foot foot foot foot foot"
    ;
    grid-gap: 0.2rem;
}

.box {
    background: #22a3c7;
    color: #000;
    text-align: center;
}

.head {
    grid-area: head;
}
.nav {
    grid-area: nav;
    background: #1e3d73;
}
.sidlef {
    grid-area: sidlef;
    background: #224c4f;
}
.content {
    grid-area: cont;
    background: #2b5f3c;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.4rem;
}
.footer {
    grid-area: foot;
    background: #82c129;
}
p {
    background-color: #9d9b1f;
}